[submodule "externals/Sophus"]
	path = externals/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "externals/fast"]
	path = externals/fast
	url = https://github.com/uzh-rpg/fast.git
[submodule "externals/rpg_vikit"]
	path = externals/rpg_vikit
	url = https://github.com/uzh-rpg/rpg_vikit.git
